# Server Port
PORT=5000

# MongoDB URI (Leave empty to use automatic embedded persistent MongoDB, or specify mongodb://localhost:27017/codearena or MongoDB Atlas URI)
MONGODB_URI=mongodb://127.0.0.1:27017/codearena

# JWT Secret Key
JWT_SECRET=codearena_secret_super_key_cse_project_2026

# JWT Expiration
JWT_EXPIRES_IN=7d

# Client URL (for CORS)
CLIENT_URL=http://localhost:5173

# Environment
NODE_ENV=development
